@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --destructive: 0 100% 50%; /* Example HSL Red color */
  --destructive-foreground: 0 0% 100%;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --destructive: 0 100% 50%; /* Example HSL Red color */
  --destructive-foreground: 0 0% 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-destructive {
  color: hsl(var(--destructive));
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
